html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Oxygen', sans-serif;
	padding-top: 20px;
	background-color: #ECECEC;
}

a {
	color: #333;
}

h1 {
	color: white;
}
h2 {
	color: white;
}

.html-pdfs {
	width: 100%;
}

/*____________index-navbar________________*/

#navbar-fixed-top {
	margin-bottom: 0px;
	border-bottom-width: 0px;
}
#navbar-container {
	font-size: 20.5px;
}
#navbar {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-around;
	margin: 0px;
	background-color: #DEDEDE;
}
/*____________about-nav_______________*/
#fixed-about {
	margin-bottom: 0px;
	border-bottom-width: 0px;
}
#navbar-container-about {
	font-size: 20.5px;
}
#navbar-about {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-around;
	margin: 0px;
	background-color: #DEDEDE;
}
/*___________contact-nav_______________*/
#fixed-contact {
	margin-bottom: 0px;
	border-bottom-width: 0px;
}
#navbar-container-contact {
	font-size: 20.5px;
}
#navbar-contact {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-around;
	margin: 0px;
	background-color: #DEDEDE;
}

/*____________jumbo___________________*/
#jumbotron {
	width: 100%;
	height: 100%;
	text-align: center;
	margin-bottom: 0px;
	background-image: url("Lowell_2.jpeg");
	background-size: cover;
}
#jumbo-text-container {
	display: flex;
	flex-direction: column;
	padding-top: 170px;
}
/*___________about-jumbo____________*/
/*#jumbotron-about{
	width: 100%;
	height:100%
	margin-bottom:0px;
}*/
#jumbo-text-about{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
#jumbo-art {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*___________buttons/bio______________*/
#content-bio {
	padding: 15px;
	width: 75%;
}
#content-art {
	padding: 15px;
	width: 75%
}
#bio-info {
	text-align: justify;
}
#art-info {
	text-align: justify;
}
/*_____________header________________*/
#header-portfolio {
	width: 100%;
	padding: 0px;
}
#header-portfolio {
	text-align: center;
	background-image:url("Lowell_2.jpeg");
}
.page-header {
	margin: 0px;
	border-bottom: .5px solid gray;
}
.h-external {
	width: 100%;
	margin: 0px;
	text-align: center;
	padding-bottom: 18px;
	padding-left: 8px;
}
/*___________thumbs_________________*/
#thumbnails{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; 
}

.card {
	margin-top: 25px;
	padding: 20px;

}
.card-body{
	background-color: rgb(191,176,153,50%);
	width: 350px;
	height: 150px;
}

.card-img {
	width: 350px;
	height: 100%;
	margin-top: 20px;
}

.thumb-titles {
	text-align: center;
	font-size: 30px;
	margin-top: 0px;
}
.card-text {
	text-align: justify;
	padding: 8px;
	margin:0px;
	
}
/*____________resume_____________

#plugin {
    height: 100%;
    position: absolute;
    width: 100%;
}#resume-pdf {
	height:100vh;
}
/*iframe {
    display: block;       /* iframes are inline by default 
    background: #000;
    border: none;         /* Reset default border 
    height: 100vh;        /* Viewport-relative units 
    width: 100vw;
}*/